@font-face {
    font-family: 'Barouche';
    src: url(fonts/Barouche.ttf);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    background: #050505;    
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

#main {
    max-width: 1400px;
    margin: auto;
    margin: 0;
    z-index: 100;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

#header img {
    width: 150px;
    max-width: 15%;
    min-width: 100px;
    /* height: 40px; */
    /* max-width: 10%; */
}

header .hamburger {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 500;
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #1B9AAA;
    padding: 5px 15px;
    border-radius: 25px;
    display: inline-block;
    overflow: hidden;
    z-index: 150;
    position: relative;
    transition: .3s;
}

a:hover {
    background-color: #1B9AAA;
    box-shadow: 0 0 0 5px #1b99aaa6;
    color: #fff;
}

#presentation {
    color: white;
    padding: 0px 30px;
    margin: 0;
    position: relative;
    /* top: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#presentationText {
    flex: 0 50%;
    max-width: 640px;
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
}

h2 {
    font-family: 'Barouche';
    color: #1B9AAA;
    font-size: 8em;
    font-weight: 400;
}

#presentation p {
    font-size: 1.8em;
}

.info {
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 20px;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1B9AAA;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #1B9AAA;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/**/

.skillIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillIcons svg {
    height: 32px;
    width: 32px;
    fill: white;
    margin-right: 25px;
}

.skillIcons svg:hover {
    fill: #1B9AAA;
}

#presentationVisual {
    display: flex;
    transform-style: preserve-3d;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}

#backgroundVisual {
    display: flex;
    width: auto;
    opacity: .4;
    position: relative;
    max-width:100%;
}

.smallIcons img {
    position: absolute;
    transform: translateZ(50px);
}

.smallIcons {
    transform-style: preserve-3d;
    position: fixed;
    width: auto;
    height: auto;
}

#smallIconOne {
    right: 45px;
    bottom: 20%;
    width: 180px;
    height: auto;
}

#smallIconTwo {
    left: -80px;
    top: 40px;
    width: 130px;
    height: auto;
}

#smallIconThree {
    left: 70px;
    bottom: 15px;
    width: 130px;
    height: auto;
}

@media screen and (max-width: 900px) {
    #presentation {
        flex-direction: column;
        /* top: 10%; */
        top: 100px;
        flex-wrap: wrap;
    }

    #main {
        justify-content: flex-start;
    }

    #presentationText  {
        max-width: 90%;
        width: auto;
    }

    #presentationText {
        margin-bottom: 20px;
    }

    h1 {
        font-weight: 400;
        font-size: 2em;
    }
    
    #presentation p {
        font-size: 1.5em;
    }

    #presentationVisual {
        max-width: 90%;
    }

    /* h2 {
        font-size: 7em;
    } */

}

@media screen and (max-width: 785px) {
    .navbar {
        display: none;
    }

    #presentation {
        justify-content: flex-start;
        align-items: flex-start;
    }

    #header, #presentation {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    #smallIconOne {
        right: 45px;
        bottom: 20%;
        width: 120px;
        height: auto;
    }
    
    #smallIconTwo {
        left: -40px;
        top: 40px;
        width: 80px;
        height: auto;
    }
    
    #smallIconThree {
        left: 70px;
        bottom: 15px;
        width: 80px;
        height: auto;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    header {
        height: 105vh;
    }
}

